html{

    background-color: black;
}




#picture{

 
 
   margin-top: 50px;
   margin-left: 490px;
   
}
 img{border: 5px solid rgb(61, 55, 57);}
#quote{
    width: 600px;
    margin-left: 468px;
   color: rgba(246, 241, 241, 0.666);
   text-align: center;
   font-size:  10px;;

   font-family: "Libre Baskerville", serif;
}

h2{
    font-size: rem;
}